.blog2-main-container {
  display: grid;
  grid-template-columns: 1fr 6fr 3fr;
  .left-blog {
   
    // display: flex;
    // flex-direction: column;
   

    .blog1-logo {
      margin-bottom: 5rem;

      img {
        width: 40px;
      }
    }
    .left-blog-links {
      img {
        width: 20px;
        padding: 10px;
      }
    }
  }
  .center-blog {
    .center-blog-header {
      display: flex;
      justify-content: space-between;

      .blog-header-left {
        display: flex;
        .header-img {
          img {
            padding: 10px;
            width: 40px;
          }
        }
      }
      .header-title {
        font-size: 10px;
        padding: 10px;
      }
      .blog-header-right {
        padding: 10px;
        display: flex;

        .header-right-icons {
          img {
            width: 20px;
            padding: 10px;
          }
        }
      }
    }
    .main-center-cantainer {
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      overflow-y: scroll;
      height: 30%;

      &::-webkit-scrollbar {
        width: 5px;
        padding: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
      }

      .title-desc {
        line-height: 1.5;
        margin-bottom: 30px;
      }
      .center-desc-main {
        line-height: 1.5;
        .cntr-desc-img {
          img {
            width: 70vw;
          }
        }
       
      }
      // yjfyyudtetutr
    }
    .vid-tag{
      line-height: 1.5;
      display: flex;
      justify-content: center;
    }

    .center-blog-card{
      margin-top: 20px;
      display: grid;
      grid-template-columns: 4fr 1fr;
      gap: 10px;
      background-color: #FAFAFA;
      padding: 20px;
      .cntr-blog-desc{
        .title{
          margin-top: 10px;
        }
        .cntr-card-time{
          display: flex;
          .cnter-card-star{
            img{
              margin-left: 5px;
              height: 17px;
            }
          }
        }
       
      }
      .cntr-blog-img{
        padding: 20px;
       
      }
      .cntr-card-share{
        display: flex;
     justify-content: space-between;
        .time-read{
          margin-top: 10px;
          font-size: 12px;
          display: flex;
          align-items: center;
          
          .read-time{
            margin-left: 5px;
          }
          .time-desc{
            background-color: rgb(173, 173, 173);
            border-radius: 8px;
            padding: 4px;
          }
         
        }
        .share-icon{
          img{
            height: 20px;
            padding: 10px;
          }
          
        }
      }

    }
  }
  .right-blog {
    padding: 10px;
    .search {
      input {
        padding: 10px;
        margin-left: 10px;
        width: 70%;
        border-radius: 15px;
        outline: none;
      }
    }
    .right-img {
      margin-top: 2rem;
      padding-left: 16px;
      img {
        width: 80px;
        height: 80px;
        border-radius: 42px;
      }
    }
    .right-title {
      font-weight: 600;
      padding-left: 24px;
    }
    .right-followers {
      padding-left: 24px;
      font-size: 13px;
    }
    .right-desc {
      padding-left: 24px;
      font-size: 15px;
      margin-top: 10px;
    }
    .right-follow-button {
      display: flex;
      padding-left: 24px;

      margin-top: 10px;

      .follow-button {
        padding: 5px;
        margin-right: 20px;
        background-color: green;
        border-radius: 8px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
      .follow-icon {
        img {
          width: 25px;
        }
      }
    }
    .title-Medium{
      padding: 20px;
      font-size: 14px;
      font-weight: 600;
      margin-top: 20px;
    }
    .right-cards {
      
        display: grid;
        grid-template-columns: 4fr 1fr;
        background-color: #edf8f6;
        padding: 15px;
      .head {
          display: grid;
          .icon-name{
              .icon{
               
                  img{
                      width: 30px;
                      margin-right: 10px;
                      border-radius: 18px;
                  }
                
              }
              .name{
                font-size: 12px;
                margin-top: 10px;
            }
           
          }
          .description{
            font-size: 14px;
            font-weight: 600;
        }
         
      }
      .image-container{
        .right-blog-img{
            img{
                width: 40px;
                border-radius: 4px;
            }
        }
    }
    }


  }
// hum...............
/* General */
body {
  margin: 0;
  padding: 0;
  width:100px;
  background: #7EDC67;
}

.hamburger {
  top:50%;
  left:10%;
  width: 50px;
  height: 6px;
  background: #FCFCFC;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  transition: 0.5s;
}

.hamburger:before {
  top: -16px;
}

.hamburger:after {
  top: 16px;
}
// ................
.center {
  top: 50%;
  left: 50%;
  // position: absolute;
  width: 50px;

}

.center:before,
.center:after,
.center div {
  background: #fff;
  content: "";
  display: block;
  height: 6px;
  background-color: red;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.center:hover:before {
  transform: translateY(12px) rotate(135deg);
}
.center:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}
.center:hover div {
  transform: scale(0);
}


// ...>>>>>>>>>>>>>>>>>>
body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px; 
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */ 
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
 
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  list-style-type: none;
  /* to stop flickering of text in safari */
  background: #cdcdcd;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}



}

.parallax{
  /* The image used */
  
  // background-image: url(../../images/dow.jpg);
  background-image: url("/assets/images/dow.jpg");


  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 
}
.para-img{
  img{ 
    height: 900px;
  }
 
}
















    
  

