.newpage-conatainer {
 
  .news-headline-container {
   
    .headline-img {
    
      img {
        width: 100%;
        height: 400px;
     
      }
    }
    .headline-text {

      margin-top: 10px;
      line-height: 1.5;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      word-wrap: break-word;
    }
  }
}