.newpage-conatainer {
 
  .news-headline-container {
   
    .headline-img {
    
      img {
        width: 100%;
        height: 400px;
     
      }
    }
    .date-and-author{
      font-size: 12px;
      font-weight: 600;
      .author{
        padding: 10px;
      }
      .date{
        
      }
    }
    .headline-text {

      margin-top: 10px;
      line-height: 1.5;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      word-wrap: break-word;
    }
    .headline-text-desc{
      margin-top: 10px;
      line-height: 1.5;
      font-size: 18px;
      text-align: center;
      word-wrap: break-word;
    }

  }
}