@import '../../styles/mixins';

.home-welcome-page {
  // background-color: red;

  .nav-container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 20px;
    background-color: aquamarine;

    .logo-container {
      img {
        height: 60px;
      }
    }

    .links-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .links-container-inner {
        span {
          padding: 10px;
          margin: 0 10px;
          background-color: beige;
          border-radius: 8px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  .main-slider {
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 1;
    .main-slider-text {
      position: absolute;
      top: 50%;

      font-size: 40px;
      font-weight: 500;
      color: white;
    }
  }
  .product-main-cards {
    .overlay-product-cards {
      // position: relative;

      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr 1fr;

      .showcase-item {
        max-height: 200px;
        img {
          width: 100%;
          height: 200px;
        }
      }

      .main-cloth-card {
        // margin-top: 58px;
        grid-column: 1 / span 2;
        grid-row: 1 / span 3;
        position: relative;

        img {
          width: 100%;
          height: 100% !important;
        }
        :hover {
          transition: all 1s ease-in-out;
          transform: scale(1.03);
          cursor: pointer;
          filter: brightness(1.5);
          top: 26%;
          left: 26%;
        }
        .card-overlay-text {
          position: absolute;
          top: 47%;
          left: 42%;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }
      }

      .main-shawl-card {
        // margin-top: 40%;
        max-height: 400px !important;
        grid-row: 1 / span 4;
        position: relative;
        img {
          // width: 100%;
          height: 100% !important;
        }
        :hover {
          transition: all 1s ease-in-out;
          transform: scale(1.03);
          cursor: pointer;
          filter: brightness(1.1);
        }
        .card-overlay-text {
          position: absolute;
          top: 49%;
          left: 38%;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }
      }
      .main-sales-card {
        position: relative;
        filter: brightness(0.8);
        img {
          width: 100%;
          height: 90% !important ;
        }
        &:hover {
          transition: all 1s ease-in-out;
          transform: scale(1.03);
          cursor: pointer;
          filter: brightness(1);
        }
        .card-overlay-text {
          position: absolute;
          top: 30%;
          left: 24%;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }
      }
      .main-decor-card {
        transition: all 1s ease-in-out;
        position: relative;

        filter: brightness(0.7);
        img {
          width: 100%;
          height: 90% !important ;
        }

        &:hover {
          transition: all 1s ease-in-out;
          transform: scale(1.03);
          cursor: pointer;
          filter: brightness(1.3);
        }
        .card-overlay-text {
          position: absolute;
          top: 38%;
          left: 21%;
          color: #fff;
          font-size: 32px;
          font-weight: 300;
        }
      }
    }
  }

  .vision-container {
    padding-top: 20px;
    .vision-title {
      color: orange;
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin: 20px;
    }
    .vision-main-cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20;
      text-align: center;

      .vision-innr-card {
        .vision-img {
          margin-bottom: 10px;
          img {
            width: 10vw;
          }
        }
        .vision-desc-title {
          margin-bottom: 10px;
          font-weight: 600;
        }
        .vision-desc {
          margin-bottom: 20px;
        }
      }
    }
  }
}
.overlay-img {
  position: relative;
display: flex;
justify-content: center;
margin-bottom: 20px;


  img {
    
    max-width: 400px;
    
  }
  .overlay-img-text {
    top: 50%;
    color: rgb(238, 90, 90);
    position: absolute;
    left: 20%;
    font-size: 40px;
    font-weight: 500;
  }
}
.thank-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
 gap: 10px;
  height: 250px;
  .thank-main-desc {
   
    text-align: center;
    .thank-title {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 600;
    }
    .thank-desc {
      line-height: 1.5;
    }
  }

  .thank-overlay-container{

    .thank-overlay-img{
          position: absolute;
          display: flex;
          position: absolute;
          justify-content: center;
      
      img{
        width: 75%;
        
      }
    }
    .thank-overlay-img-2{
      position: relative;
     
      left: -5px;
      top: 123px;
      img{
        width: 22%;
       
      }
    }
    .thank-overlay-img-3{
      position: relative;
      top: 7%;
      right: -53%;
  
      img{
        width: 40%;
        
      }
    }

  }
}
.main-link-youtube{
  margin: 20px;
  display: flex;
  justify-content: center;
}
.artisans-container{
  .art-title{
    color: #ee6e60;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }
  .artisan-main-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
     box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
     margin-bottom: 20px;
    img{
      width: 90%;
      height: 40vh;
      border-radius: 12px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
      &:hover {
        transition: all 0.5s ease-in-out;
        transform: scale(1.03);
        cursor: pointer;
        filter: brightness(1.3);
        
      }
    }
    
  }

}