@import '../../styles/mixins';

.home-welcome-page {

  // background-color: red;

  .nav-container{

    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 20px;
    background-color: aquamarine;
    
    .logo-container{
      img{
        height: 60px;
        
      }
    }

    .links-container{
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .links-container-inner{
        span{
          padding: 10px;
          margin: 0 10px;
          background-color: beige;
          border-radius: 8px;

          &:hover{
            cursor: pointer;
          }
        }
      }

    }
  }
  .main-slider{
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 1;
    .main-slider-text{
      position: absolute;
      top: 50%;
      
      font-size: 40px;
      font-weight: 500;
      color: white;
    }
  }
 
  }
  .overlay-img{
    position: relative;
    
  
     img{
      max-height: 50%;
      width: 100%;
     

     }
     .overlay-img-text{
       top: 50%;
       color: #fff;
        position: absolute;
        left: 23%;
        font-size: 40px;
        font-weight: 500;
      }
 
}