.about-us-container{
    padding-top: 50px;
    padding-bottom: 50px;



    .about-us-inner{
        display: grid;
        grid-template-columns: 1fr 1fr;


        .image-container{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 200px;
            }
        }
    }
}