

.nav-container {

    display: grid;
    grid-template-columns: 1fr 9fr;
    padding: 20px;
    background-color: aquamarine;

    .logo-container {
        display: flex;
    justify-content: space-between;

        img {
            height: 60px;

        }
        .logo-text{
            margin-left: 10px;
            font-size: 18px;
            font-weight: 400;
        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .links-container-inner {
            span {
                padding: 10px;
                margin: 0 10px;
                background-color: beige;
                border-radius: 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}