

.nav-container {
    display: flex;
 justify-content: center;
 padding: 20px;
  

    .logo-container {
        img {
            height: 60px;

        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .links-container-inner {
            span {
                padding: 10px;
                margin: 0 10px;
                background-color: beige;
                border-radius: 8px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

    }
}