

.nav-container {
    // display: flex;
    justify-content: space-between;
    padding: 20px 30px;
  

    .logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 22px;
        cursor: pointer;
        img {
            height: 60px;

        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: center;

        .links-container-inner {
            display: flex;
            justify-content: space-between;
            margin-right: 3vw;


            .link-item{
                display: flex;
                flex-direction: column;
                align-items: center;

                .link-span{
                    padding: 10px;
                    margin: 0 10px;
                    // background-color: beige;
                    border-radius: 8px;
                    font-size: 16px;
                }

                .underline{
                    height: 1px;
                    max-height: 1px;
                    display: flex;
                    background-color: black;
                    width: 0;
                    opacity: 0;
                }

                &:hover {
                    cursor: pointer;
                    .underline {
                        opacity: 1;
                        width: 80%;
                        transition: width 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
                    }

                }
            }
        }

    }
}