

.main-cards-container{
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 70px;
}

.teams-card-container {
    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 70px;
}

.projects-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 70px;

}

// .service-card-container{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
//     gap: 20px;
// }