.project-card-container{
  display: flex;
  justify-content: space-between;
  background-color: #f9f9ff;
  border-radius: 8px;
  padding: 12px;
  min-height: 80px;
  align-items: center;


  &:hover{
    background-color: #90acd1;
    cursor: pointer;
  }



  .brand{
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    min-width: 25%;
    border-radius: 30px;
    border: 1px solid #90acd1;
    min-height: 40px;
    


      .title{
        font-size: 16px;
        margin-bottom: 0px;
      }
  }
}