.service-card-container{
    height: 200px;
    min-height: 300px;
    margin: 20px 0px;
    // width: 24%;
    background-color: #e2a599;
    // margin: 0px 10px;

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    min-width: 95%;

    div{
        margin: 10px 0px;
    }

    .title{
        font-size: 18px;
    }


    .img-container {
        img{
            width: 20%;
        }
    }
}