.team-card-container{
 
    height: 200px;
    min-height: 300px;
    margin: 20px 0px;
    background-color: #e2a599;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    min-width: 95%;
    align-items: center;

    .desc{
        text-align: center;
    }
    
}